 
  ::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    width: 100%;
    overscroll-behavior: none;
  }

  main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }
  
  .scrollable {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    will-change: transform;
  }
  
  .content {
    position: relative;
    width: 100%;
  }
  
  section {
    position: relative;
    height: 50vh;

  }
  
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(20%) sepia(20%);
  }
  